<div class="py-5 gap-5 bg-slate-100 w-full flex flex-col justify-between items-center h-[100vh]">
    <div class="relative w-10/12">
        <app-header></app-header>
    </div>

    <div class=" mx-auto grid lg:grid-cols-2 md:grid-cols-1 w-[70vw] h-[594px]  justify-between flex-row gap-5 bg-white rounded-lg shadow-slate-50">

        <div class="w-full pr-5 p-5">
            <div class="flex flex-col gap-3 mt-5 pt-5 px-3 w-8/12">
                <div class="inputoverflow-hidden h-[56px] relative w-full flex justify-center items-end flex-col">
                    <svg width="20" height="20"  class="relative right-4 z-20" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00033 10.4415C3.30325 10.4415 1 10.8704 1 12.588C1 14.3057 3.28864 14.75 6.00033 14.75C8.69742 14.75 11 14.3204 11 12.6034C11 10.8864 8.71203 10.4415 6.00033 10.4415Z" stroke="#717073" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00036 7.99151C7.7703 7.99151 9.20485 6.48199 9.20485 4.62041C9.20485 2.75882 7.7703 1.25 6.00036 1.25C4.23042 1.25 2.79518 2.75882 2.79518 4.62041C2.78923 6.4757 4.21448 7.98523 5.97778 7.99151H6.00036Z" stroke="#717073" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="text" class=" rounded-[8px]  border-solid border-[blue] border-[1.95px] absolute p-5 w-full h-full" placeholder="First Name">
                </div>

                <div class="inputoverflow-hidden h-[56px] relative w-full flex justify-center items-end flex-col">
                    <svg width="20" height="20"  class="relative right-4 z-20" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00033 10.4415C3.30325 10.4415 1 10.8704 1 12.588C1 14.3057 3.28864 14.75 6.00033 14.75C8.69742 14.75 11 14.3204 11 12.6034C11 10.8864 8.71203 10.4415 6.00033 10.4415Z" stroke="#717073" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00036 7.99151C7.7703 7.99151 9.20485 6.48199 9.20485 4.62041C9.20485 2.75882 7.7703 1.25 6.00036 1.25C4.23042 1.25 2.79518 2.75882 2.79518 4.62041C2.78923 6.4757 4.21448 7.98523 5.97778 7.99151H6.00036Z" stroke="#717073" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="password" class=" rounded-[8px]  border-solid border-[blue] border-[1.95px] absolute p-5 w-full h-full" placeholder="*************">
                </div>

                <span class="text-[10pt]">Forgot password?</span>
                <div class="inputoverflow-hidden h-[56px] relative w-full flex justify-center items-end flex-col">
                    <svg width="20" height="20"  class="relative right-4 z-20" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00033 10.4415C3.30325 10.4415 1 10.8704 1 12.588C1 14.3057 3.28864 14.75 6.00033 14.75C8.69742 14.75 11 14.3204 11 12.6034C11 10.8864 8.71203 10.4415 6.00033 10.4415Z" stroke="#717073" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00036 7.99151C7.7703 7.99151 9.20485 6.48199 9.20485 4.62041C9.20485 2.75882 7.7703 1.25 6.00036 1.25C4.23042 1.25 2.79518 2.75882 2.79518 4.62041C2.78923 6.4757 4.21448 7.98523 5.97778 7.99151H6.00036Z" stroke="#717073" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="email" class=" rounded-[8px]  border-solid border-[blue] border-[1.95px] absolute p-5 w-full h-full" placeholder="otalarmando@gmail.com">
                </div>


                <div class="inputoverflow-hidden mt-2 h-[56px] relative w-full flex justify-center items-end flex-col">
                    <svg width="20" height="20"  class="relative right-4 z-20" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00033 10.4415C3.30325 10.4415 1 10.8704 1 12.588C1 14.3057 3.28864 14.75 6.00033 14.75C8.69742 14.75 11 14.3204 11 12.6034C11 10.8864 8.71203 10.4415 6.00033 10.4415Z" stroke="#717073" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00036 7.99151C7.7703 7.99151 9.20485 6.48199 9.20485 4.62041C9.20485 2.75882 7.7703 1.25 6.00036 1.25C4.23042 1.25 2.79518 2.75882 2.79518 4.62041C2.78923 6.4757 4.21448 7.98523 5.97778 7.99151H6.00036Z" stroke="#717073" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="password" class=" rounded-[8px]  border-solid border-[blue] border-[1.95px] absolute p-5 w-full h-full" placeholder="**************">
                </div>

            </div>

            <div class="p-3 py-5 flex justify-center lg:w-9/12 flex-col text-center">
                <span class="text-[8.5pt]">If you already have an account on our website, please <a href="#" [routerLink]="'/login'" class="text-[blue]">login</a> to continue</span>

                <div class="my-1 border-b border-[blue] text-center">
                    <div class="leading-none px-2 inline-block text-sm text-[8pt] text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2">
                        Or 
                    </div>
                </div>

                <div class="text-[9pt] w-2/6 p-1 rounded-[8px] mx-auto my-2 cursor-pointer border-solid border-[blue] border-2">Google</div>
            </div>
        </div>

        <div class="w-full max-md:hidden md:hidden lg:block  p-3 bg-slate-600 rounded-lg"></div>
            

    </div>
    
    <app-footer></app-footer>
</div>