<div class="p-5 bg-[#067CEA] w-full h-lvh">
    
    <div class="contain mx-auto w-9/12">
        <header-page></header-page>

        <!-- base -->
        <div class="clear-both py-5 my-5 block"></div>

        <!--  -->

        <div class="flex flex-row">
            <div class="w-full h-[400px]">
                <h1 class="text-white text-5xl font-light">Reach millions of <br>leads, from all corners of <br> the world. <span class="font-semibold">In seconds.</span></h1>
            </div>
            <div class="w-6/12 relative flex items-center justify-end">
                <img src="assets/carousel/img_3.png" class="rounded-2xl object-cover z-10 w-[250px]" alt="" >

                <div class="absolute left-0 top-0 z-0 h-[200px] w-[250px]">
                    <img src="assets/carousel/img_1.png" class="rounded-2xl object-cover w-full h-full z-0" alt="" >
                </div>
               
                <div class="absolute left-10 bottom-10 z-20 h-[200px] w-[250px]">
                    <img src="assets/carousel/img_2.png" class="rounded-2xl object-cover w-full h-full" alt="" >
                </div>
            </div>
        </div>
    </div>

</div>
